
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 16px;
  height: 34px;
  border: 1px solid #ccc;
  text-align: center;
}

select {
  font-size: 16px;
  height: 34px;
  border: 1px solid #ccc;
}

.course {
  display: grid;
  font-size: 20px;
  grid-template-columns: 200px 200px 50px 50px;
  grid-gap: 5px;
  padding: 5px;
  background-color: #ccc;
}
.coursesGrid {
  display: grid;
  grid-gap: 5px;
}

.add {
  margin-left: 450px;
}

.grid {
  display: grid; 
  grid-template-columns: 800px;
  grid-gap: 10px;
} 