.calculatedGrade {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 34px;
    font-size: 20px;
  }

  .merit-points {
    font-size: 16px;
    height: 34px;
    border: 1px solid #ccc;
    text-align: center;
    width: 50px;
    float: right;
  }