.calculatedGrade {
    display: grid;
    grid-gap: 20px;
    font-size: 20px;
    width: 520px;
  }

  .merit-points {
    font-size: 16px;
    height: 34px;
    border: 1px solid #ccc;
    text-align: center;
    width: 50px;
    float: right;
  }

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  width: 100%;
}

p{
  padding: 15px;
}